tests/Ambev.DeveloperEvaluation.Unit/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Unit.AssemblyInfoInputs.cache
.vs/Ambev.DeveloperEvaluation/FileContentIndex/391beab5-661e-42cd-ad6f-7a4648385f35.vsidx
/.vs/Ambev.DeveloperEvaluation/FileContentIndex/072ae8f4-f988-4dd9-b01a-603ae369f3f9.vsidx
/.vs/Ambev.DeveloperEvaluation/DesignTimeBuild/.dtbcache.v2
/.vs/Ambev.DeveloperEvaluation/FileContentIndex/0ea1cf07-6373-4238-92e2-4f4a5e4edc59.vsidx
/.vs/Ambev.DeveloperEvaluation/FileContentIndex/6cddf952-bd7e-4c0a-941a-c06c95c0a6c1.vsidx
/.vs/Ambev.DeveloperEvaluation/FileContentIndex/9baa32de-5f53-4305-9753-5eeea581b6a6.vsidx
/.vs/Ambev.DeveloperEvaluation/FileContentIndex/aa2d2544-5b0a-4677-9166-429cd4856053.vsidx
/.vs/Ambev.DeveloperEvaluation/FileContentIndex/6685abd8-3ade-48cf-8929-906a14aa9ea5.vsidx
/obj/Docker/PrerequisiteFailureTelemetry.json
/obj/Docker/MergedDockerCompose.cache
/src/Ambev.DeveloperEvaluation.Application/bin/Debug/net8.0/Ambev.DeveloperEvaluation.Application.deps.json
/obj/Docker/CachedComposeConfigFilePaths.cache
/obj/Docker/ContainerToolsExceptions.json
/obj/Docker/DOCKER_REGISTRY.cache
*.dll
*.pdb
*/obj/*
*/bin/*
*.bin
.vs/*
/src/Ambev.DeveloperEvaluation.Application/obj/Debug/*
/src/Ambev.DeveloperEvaluation.Application/obj/Debug/*
/src/Ambev.DeveloperEvaluation.Application/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Application.AssemblyInfoInputs.cache
/src/Ambev.DeveloperEvaluation.Application/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Application.AssemblyInfo.cs
/src/Ambev.DeveloperEvaluation.Application/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Application.csproj.AssemblyReference.cache
/src/Ambev.DeveloperEvaluation.Common/bin/Debug/net8.0/Ambev.DeveloperEvaluation.Common.deps.json
/src/Ambev.DeveloperEvaluation.Application/obj/Debug/net8.0/Ambev.De.8B5E65A2.Up2Date
/src/Ambev.DeveloperEvaluation.Application/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Application.csproj.FileListAbsolute.txt
/src/Ambev.DeveloperEvaluation.Application/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Application.csproj.CoreCompileInputs.cache
/src/Ambev.DeveloperEvaluation.Application/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Application.sourcelink.json
/src/Ambev.DeveloperEvaluation.Application/obj/Ambev.DeveloperEvaluation.Application.csproj.nuget.g.props
/src/Ambev.DeveloperEvaluation.Common/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Common.AssemblyInfo.cs
/src/Ambev.DeveloperEvaluation.Common/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Common.AssemblyInfoInputs.cache
/src/Ambev.DeveloperEvaluation.Common/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Common.csproj.CoreCompileInputs.cache
/src/Ambev.DeveloperEvaluation.Common/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Common.csproj.FileListAbsolute.txt
/src/Ambev.DeveloperEvaluation.Common/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Common.sourcelink.json
/src/Ambev.DeveloperEvaluation.Common/obj/Ambev.DeveloperEvaluation.Common.csproj.nuget.g.props
/src/Ambev.DeveloperEvaluation.Domain/bin/Debug/net8.0/Ambev.DeveloperEvaluation.Domain.deps.json
/.vs/Ambev.DeveloperEvaluation/v17/.suo
/.vs/Ambev.DeveloperEvaluation/v17/DocumentLayout.json
/src/Ambev.DeveloperEvaluation.Domain/obj/Ambev.DeveloperEvaluation.Domain.csproj.nuget.g.props
/src/Ambev.DeveloperEvaluation.Domain/obj/Debug/net8.0/Ambev.De.3B55B412.Up2Date
/src/Ambev.DeveloperEvaluation.Domain/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Domain.AssemblyInfo.cs
/src/Ambev.DeveloperEvaluation.Domain/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Domain.AssemblyInfoInputs.cache
/src/Ambev.DeveloperEvaluation.Domain/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Domain.csproj.AssemblyReference.cache
/src/Ambev.DeveloperEvaluation.Domain/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Domain.csproj.CoreCompileInputs.cache
/src/Ambev.DeveloperEvaluation.Domain/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Domain.csproj.FileListAbsolute.txt
/src/Ambev.DeveloperEvaluation.Domain/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Domain.sourcelink.json
/src/Ambev.DeveloperEvaluation.IoC/bin/Debug/net8.0/Ambev.DeveloperEvaluation.IoC.deps.json
/src/Ambev.DeveloperEvaluation.IoC/obj/Ambev.DeveloperEvaluation.IoC.csproj.nuget.g.props
/tests/Ambev.DeveloperEvaluation.Unit/obj/Ambev.DeveloperEvaluation.Unit.csproj.nuget.g.props
/tests/Ambev.DeveloperEvaluation.Unit/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Unit.AssemblyInfo.cs
/tests/Ambev.DeveloperEvaluation.Unit/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Unit.csproj.AssemblyReference.cache
/tests/Ambev.DeveloperEvaluation.Unit/bin/Debug/net8.0/.msCoverageSourceRootsMapping_Ambev.DeveloperEvaluation.Unit
/src/Ambev.DeveloperEvaluation.IoC/obj/Debug/net8.0/Ambev.De.F34954F9.Up2Date
/src/Ambev.DeveloperEvaluation.IoC/obj/Debug/net8.0/Ambev.DeveloperEvaluation.IoC.AssemblyInfo.cs
/src/Ambev.DeveloperEvaluation.IoC/obj/Debug/net8.0/Ambev.DeveloperEvaluation.IoC.AssemblyInfoInputs.cache
/src/Ambev.DeveloperEvaluation.IoC/obj/Debug/net8.0/Ambev.DeveloperEvaluation.IoC.csproj.AssemblyReference.cache
/src/Ambev.DeveloperEvaluation.IoC/obj/Debug/net8.0/Ambev.DeveloperEvaluation.IoC.csproj.CoreCompileInputs.cache
/src/Ambev.DeveloperEvaluation.IoC/obj/Debug/net8.0/Ambev.DeveloperEvaluation.IoC.csproj.FileListAbsolute.txt
/src/Ambev.DeveloperEvaluation.IoC/obj/Debug/net8.0/Ambev.DeveloperEvaluation.IoC.sourcelink.json
/src/Ambev.DeveloperEvaluation.ORM/bin/Debug/net8.0/Ambev.DeveloperEvaluation.ORM.deps.json
/src/Ambev.DeveloperEvaluation.ORM/bin/Debug/net8.0/Ambev.DeveloperEvaluation.ORM.runtimeconfig.json
/src/Ambev.DeveloperEvaluation.ORM/obj/Ambev.DeveloperEvaluation.ORM.csproj.nuget.g.props
/src/Ambev.DeveloperEvaluation.ORM/obj/Debug/net8.0/Ambev.De.1C997F09.Up2Date
/src/Ambev.DeveloperEvaluation.ORM/obj/Debug/net8.0/Ambev.DeveloperEvaluation.ORM.AssemblyInfo.cs
/src/Ambev.DeveloperEvaluation.ORM/obj/Debug/net8.0/Ambev.DeveloperEvaluation.ORM.AssemblyInfoInputs.cache
/src/Ambev.DeveloperEvaluation.ORM/obj/Debug/net8.0/Ambev.DeveloperEvaluation.ORM.csproj.AssemblyReference.cache
/src/Ambev.DeveloperEvaluation.ORM/obj/Debug/net8.0/Ambev.DeveloperEvaluation.ORM.csproj.CoreCompileInputs.cache
/src/Ambev.DeveloperEvaluation.ORM/obj/Debug/net8.0/Ambev.DeveloperEvaluation.ORM.csproj.FileListAbsolute.txt
/src/Ambev.DeveloperEvaluation.ORM/obj/Debug/net8.0/Ambev.DeveloperEvaluation.ORM.genruntimeconfig.cache
/src/Ambev.DeveloperEvaluation.ORM/obj/Debug/net8.0/Ambev.DeveloperEvaluation.ORM.sourcelink.json
/src/Ambev.DeveloperEvaluation.WebApi/bin/Debug/net8.0/Ambev.DeveloperEvaluation.WebApi.deps.json
/src/Ambev.DeveloperEvaluation.WebApi/bin/Debug/net8.0/Ambev.DeveloperEvaluation.WebApi.exe
/src/Ambev.DeveloperEvaluation.WebApi/bin/Debug/net8.0/Ambev.DeveloperEvaluation.WebApi.runtimeconfig.json
/src/Ambev.DeveloperEvaluation.WebApi/bin/Debug/net8.0/appsettings.Development.json
/src/Ambev.DeveloperEvaluation.WebApi/bin/Debug/net8.0/appsettings.json
/src/Ambev.DeveloperEvaluation.WebApi/obj/Debug/net8.0/staticwebassets/msbuild.build.Ambev.DeveloperEvaluation.WebApi.props
/src/Ambev.DeveloperEvaluation.WebApi/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Ambev.DeveloperEvaluation.WebApi.props
/src/Ambev.DeveloperEvaluation.WebApi/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Ambev.DeveloperEvaluation.WebApi.props
/src/Ambev.DeveloperEvaluation.WebApi/obj/Ambev.DeveloperEvaluation.WebApi.csproj.nuget.g.props
/src/Ambev.DeveloperEvaluation.WebApi/obj/Debug/net8.0/Ambev.De.DEA3C0BD.Up2Date
/src/Ambev.DeveloperEvaluation.WebApi/obj/Debug/net8.0/Ambev.DeveloperEvaluation.WebApi.AssemblyInfo.cs
/src/Ambev.DeveloperEvaluation.WebApi/obj/Debug/net8.0/Ambev.DeveloperEvaluation.WebApi.AssemblyInfoInputs.cache
/src/Ambev.DeveloperEvaluation.WebApi/obj/Debug/net8.0/Ambev.DeveloperEvaluation.WebApi.csproj.AssemblyReference.cache
/src/Ambev.DeveloperEvaluation.WebApi/obj/Debug/net8.0/Ambev.DeveloperEvaluation.WebApi.csproj.CoreCompileInputs.cache
/src/Ambev.DeveloperEvaluation.WebApi/obj/Debug/net8.0/Ambev.DeveloperEvaluation.WebApi.csproj.FileListAbsolute.txt
/src/Ambev.DeveloperEvaluation.WebApi/obj/Debug/net8.0/Ambev.DeveloperEvaluation.WebApi.genruntimeconfig.cache
/src/Ambev.DeveloperEvaluation.WebApi/obj/Debug/net8.0/Ambev.DeveloperEvaluation.WebApi.MvcApplicationPartsAssemblyInfo.cache
/src/Ambev.DeveloperEvaluation.WebApi/obj/Debug/net8.0/Ambev.DeveloperEvaluation.WebApi.sourcelink.json
/src/Ambev.DeveloperEvaluation.WebApi/obj/Debug/net8.0/apphost.exe
/src/Ambev.DeveloperEvaluation.WebApi/obj/Debug/net8.0/staticwebassets.build.json
/tests/Ambev.DeveloperEvaluation.Functional/bin/Debug/net8.0/.msCoverageSourceRootsMapping_Ambev.DeveloperEvaluation.Functional
/tests/Ambev.DeveloperEvaluation.Functional/bin/Debug/net8.0/CoverletSourceRootsMapping_Ambev.DeveloperEvaluation.Functional
/tests/Ambev.DeveloperEvaluation.Integration/obj/Ambev.DeveloperEvaluation.Integration.csproj.nuget.g.props
/tests/Ambev.DeveloperEvaluation.Functional/obj/Ambev.DeveloperEvaluation.Functional.csproj.nuget.g.props
/tests/Ambev.DeveloperEvaluation.Functional/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Functional.AssemblyInfo.cs
/tests/Ambev.DeveloperEvaluation.Functional/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Functional.AssemblyInfoInputs.cache
/tests/Ambev.DeveloperEvaluation.Functional/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Functional.csproj.AssemblyReference.cache
/tests/Ambev.DeveloperEvaluation.Integration/bin/Debug/net8.0/.msCoverageSourceRootsMapping_Ambev.DeveloperEvaluation.Integration
/tests/Ambev.DeveloperEvaluation.Integration/bin/Debug/net8.0/CoverletSourceRootsMapping_Ambev.DeveloperEvaluation.Integration
/tests/Ambev.DeveloperEvaluation.Integration/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Integration.AssemblyInfo.cs
/tests/Ambev.DeveloperEvaluation.Integration/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Integration.AssemblyInfoInputs.cache
/tests/Ambev.DeveloperEvaluation.Integration/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Integration.csproj.AssemblyReference.cache
/tests/Ambev.DeveloperEvaluation.Unit/bin/Debug/net8.0/CoverletSourceRootsMapping_Ambev.DeveloperEvaluation.Unit
/.vs/Ambev.DeveloperEvaluation/FileContentIndex/003aad8d-c531-4c88-a43c-48fcca9aae9f.vsidx
/.vs/Ambev.DeveloperEvaluation/FileContentIndex/217f6c52-b5d1-47a6-ba98-4c0eb9cdbdc3.vsidx
/.vs/Ambev.DeveloperEvaluation/FileContentIndex/96743493-f84f-4d64-949d-0351c1f51231.vsidx
/.vs/Ambev.DeveloperEvaluation/FileContentIndex/da9fd864-59e5-42cc-b921-4e0a40c32c73.vsidx
*.vsidx
/.vs/ProjectEvaluation/ambev.developerevaluation.metadata.v8.bin
*.exe
/bin/Debug/Ambev.DeveloperEvaluation.WebApi.deps.json
/bin/Debug/Ambev.DeveloperEvaluation.WebApi.runtimeconfig.json
/bin/Debug/appsettings.Development.json
/bin/Debug/appsettings.json
*.cache
/obj/Debug/docker-c.35A3FFBA.Up2Date
/obj/Debug/docker-compose.dcproj.FileListAbsolute.txt
/src/Ambev.DeveloperEvaluation.IoC/obj/project.nuget.cache
/.vs/Ambev.DeveloperEvaluation/v17/.futdcache.v2
/obj/Docker/docker-compose.vs.debug.g.yml
/obj/Docker/docker-compose.vs.debug.partial.g.yml
/obj/Docker/docker-compose.vs.release.g.yml
/obj/Docker/docker-compose.vs.release.partial.g.yml
/src/Ambev.DeveloperEvaluation.IoC/obj/Ambev.DeveloperEvaluation.IoC.csproj.nuget.dgspec.json
/src/Ambev.DeveloperEvaluation.ORM/obj/project.assets.json
/src/Ambev.DeveloperEvaluation.ORM/obj/Debug/net8.0/Ambev.DeveloperEvaluation.ORM.assets.cache
/src/Ambev.DeveloperEvaluation.WebApi/obj/Debug/net8.0/Ambev.DeveloperEvaluation.WebApi.MvcApplicationPartsAssemblyInfo.cs
/src/Ambev.DeveloperEvaluation.WebApi/obj/Ambev.DeveloperEvaluation.WebApi.csproj.EntityFrameworkCore.targets
/src/Ambev.DeveloperEvaluation.WebApi/obj/Ambev.DeveloperEvaluation.WebApi.csproj.nuget.dgspec.json
/src/Ambev.DeveloperEvaluation.ORM/obj/Ambev.DeveloperEvaluation.ORM.csproj.EntityFrameworkCore.targets
/src/Ambev.DeveloperEvaluation.ORM/obj/Ambev.DeveloperEvaluation.ORM.csproj.nuget.dgspec.json
/tests/Ambev.DeveloperEvaluation.Functional/bin/Debug/net8.0/Ambev.DeveloperEvaluation.Functional.deps.json
/tests/Ambev.DeveloperEvaluation.Functional/bin/Debug/net8.0/Ambev.DeveloperEvaluation.Functional.runtimeconfig.json
*.Up2Date
/tests/Ambev.DeveloperEvaluation.Functional/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Functional.csproj.FileListAbsolute.txt
/tests/Ambev.DeveloperEvaluation.Functional/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Functional.sourcelink.json
/tests/Ambev.DeveloperEvaluation.Integration/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Integration.csproj.FileListAbsolute.txt
/tests/Ambev.DeveloperEvaluation.Integration/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Integration.sourcelink.json
/tests/Ambev.DeveloperEvaluation.Functional/obj/Ambev.DeveloperEvaluation.Functional.csproj.nuget.dgspec.json
/tests/Ambev.DeveloperEvaluation.Unit/bin/Debug/net8.0/Ambev.DeveloperEvaluation.Unit.deps.json
/tests/Ambev.DeveloperEvaluation.Unit/bin/Debug/net8.0/Ambev.DeveloperEvaluation.Unit.runtimeconfig.json
/tests/Ambev.DeveloperEvaluation.Unit/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Unit.csproj.FileListAbsolute.txt
/tests/Ambev.DeveloperEvaluation.Unit/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Unit.sourcelink.json
/tests/Ambev.DeveloperEvaluation.Unit/obj/Ambev.DeveloperEvaluation.Unit.csproj.nuget.dgspec.json
/tests/Ambev.DeveloperEvaluation.Unit/obj/project.nuget.cache
/tests/Ambev.DeveloperEvaluation.Integration/bin/Debug/net8.0/Ambev.DeveloperEvaluation.Integration.deps.json
/tests/Ambev.DeveloperEvaluation.Integration/bin/Debug/net8.0/Ambev.DeveloperEvaluation.Integration.runtimeconfig.json
/tests/Ambev.DeveloperEvaluation.Integration/obj/Ambev.DeveloperEvaluation.Integration.csproj.nuget.dgspec.json
/src/Ambev.DeveloperEvaluation.Domain/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Domain.GeneratedMSBuildEditorConfig.editorconfig
/src/Ambev.DeveloperEvaluation.Common/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Common.assets.cache
/src/Ambev.DeveloperEvaluation.Common/obj/Debug/net8.0/Ambev.DeveloperEvaluation.Common.GeneratedMSBuildEditorConfig.editorconfig
